html {
    font-family: "Libre Franklin", Tahoma, sans-serif;
    font-size: 10px;

    body {
        section.main {
            margin: 0 auto;
            width: 576px;

            section.top {
                background: url('../resources/bg-top.jpg');
                height: 152px;
            }

            video {
                margin: 8px;
            }

            section.bottom {
                background: url('../resources/bg-bottom.jpg');
                height: 448px;
            }
        }
    }
}

