html {
    font-family: "Libre Franklin", Tahoma, sans-serif;
    font-size: 12px;

    section.main {
        margin: 0 auto;
        width: 1024px;

        header {
            align-items: center;
            display: flex;

            svg {
                flex: none;
                height: 81px;
                margin-right: 16px;
                width: 80px;
            }

            p {
                flex: auto;
                font-size: 1.5em;
            }
        }

        video {
            margin: 16px;
        }
    }
}

